{% load bootstrap3 %}

<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Work Notes</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <body>

    <!-- navbar -->
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">

        <!-- navbar header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-body" aria-expanded="false">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'work_notes:index' %}">Work Notes</a>
        </div>
    
        <!-- navbar body -->
        <div class="collapse navbar-collapse" id="navbar-body">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'work_notes:items:dir' %}">Notes</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>Hello, {{ user.username }}</a></li>
              <li><a href="{% url 'users:logout' %}">log out</a></li>
            {% else %}
              <li><a href="{% url 'users:login' %}">log in</a></li>
              <li><a href="{% url 'users:register' %}">register</a></li>
            {% endif %}
          </ul>
        </div><!-- /#navbar-body -->

      </div><!-- /.container -->
    </nav>

    <!-- content -->
    <div class="container">

      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>

      <div>
          {% block content %}{% endblock content %}
      </div>

    </div><!-- /.container -->

  </body>
</html>