{% extends 'main_base.html' %}

{% block content %}

	<button onclick="window.location.href='{% url 'work_notes:new_dir' %}'">
		Add a new dir
	</button>
	<button onclick="window.location.href='{% url 'work_notes:new_note' cur_dir_id %}'">
		Add a new note
	</button>

	<p>Notes</p>

	<ul>
		{% if not dirs and not notes %}
			<li>No notes have been added yet.</li>
		{% else %}
			{% for dir in dirs %}
				<li>
					<a href="{% url 'work_notes:items:dir' dir.id %}">{{ dir }}</a>
				</li>
			{% endfor %}

			{% for note in notes %}
				<li>
					<a href="{% url 'work_notes:items:note' note.id %}">{{ note }}</a>
				</li>
			{% endfor %}
		{% endif %}
	</ul>

{% endblock content %}
